*.obj
Builds/VisualStudio2013/Debug/SonicBloop.pdb
*.tlog
Builds/VisualStudio2013/Debug/vc120.pdb
*.idb
Builds/VisualStudio2013/SonicBloop.sdf
*.suo
Builds/VisualStudio2013/SonicBloop.sln
*.exe
Builds/VisualStudio2013/x64/Debug/SonicBloop.exp
*.ilk
Builds/VisualStudio2013/x64/Debug/SonicBloop.lib
*.log
Lib/libuiohook-Debug-x64.lib
*.filters
Builds/VisualStudio2013/SonicBloop.opensdf
*.pdb
*.lib
Builds/VisualStudio2013/Debug/SonicBloop.exp